<!DOCTYPE html>
<html lang="fi">
<head>
<meta charset="utf-8">
<title>{% block title %}Populistipuolue.fi{% endblock %}</title>
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ MEDIA_URL }}/static/style.css"/>
<link rel="shortcut icon" href="/static/logo.png" />
<!-- From http://ogp.me/ -->
<meta property="og:title" content="Populistipuolue.fi" />
<meta property="og:type" content="product" />
<meta property="og:url" content="http://www.populistipuolue.fi/" />
<meta property="og:image" content="http://www.populistipuolue.fi/static/logo.png" />
<meta property="og:description" content="Suomalaisista 32% kannattaa!" />
<meta property="og:site_name" content="Populistipuolue.fi" />
<meta property="fb:admins" content="1576364819"/>
{% block script %}{% endblock %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-285981-11']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</head>
<body>
<div id="header">
<h1>Populistipuolue.fi</h1>
	<a href="index.html">Puolueohjelma</a>
|	<a href="tutkimus.html">Tutkimus</a>
|	<a href="kannatus.html">Kannatus</a>
</div>

<div id="container">

<div id="content">

<!-- img src="/static/beta.png" alt="BETA" id="beta"/ -->
<div id="tykkaa">
<div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=174611405926401&amp;xfbml=1"></script><fb:like href="www.populistipuolue.fi" send="true" width="450" show_faces="false" font=""></fb:like>
</div>

{% block contents %}

<p>Tällä sivulla ei ole sisältöä.</p>
<p>This page has no content.</p>

{% endblock %}

</div><!-- content -->

</div><!-- container -->

<p id="footer">
	<a href="index.html">Puolueohjelma</a>
|	<a href="tutkimus.html">Tutkimus</a>
|	<a href="kannatus.html">Kannatus</a>
</p>


</body>
</html>
