{% extends "base.html" %}

{% block contents %}

<h2>Populistipuolueen <br/>puolueohjelma</h2>

<a href="tutkimus.html"><div id="intro">Tämän puolueohjelman on laatinut Suomen kansa, jonka kanta on selvitetty Suomen historian suurimmalla kyselytutkimuksella. Vastaajia oli 384 693 kappaletta.</div></a>

<h3>Johdanto</h3>

<p>Tämä puolue on uudenlainen puolue Suomen puoluekentässä. Sen synty on Suomen poliittisessa
historiassa ennennäkemätön. Tähän työhön on osallistunut satoja tuhansia ihmisiä.</p>

<p>Tavoittelemme kaikessa toiminnassamme Suomen perustuslakia ja sen henkeä. Tavoitteitamme ja
keinojamme kannattavia ihmisiä löytyy sekä perinteisen oikeiston että
vasemmiston kannattajista. Puolueemme jäseniä yhdistää yhteinen huoli Suomen ja suomalaisten
tulevaisuudesta. Jäseniksi ja tukijoukkoihin ovat tervetulleita kaikki sosioekonomisesta asemasta,
iästä, kielestä, sukupuolesta, koulutustasosta tai muusta henkilöllisestä muuttujasta riippumatta.</p>

<h3>Tavoitteemme</h3>

<h4>Ympäristömme on yhteinen</h4>

<p>Suomen tulisi ajaa EU:n ilmastopolitiikassa linjaa, jossa EU:n tulisi olla edelläkävijä ja rajoittaa kasvihuonekaasujen päästöjä, vaikka muut kuten USA ja Kiina eivät vielä siihen olisi halukkaita. <sup><a href="tutkimus.html#13">13</a></sup></p>

<p>Politiikan tehtävänä on saavuttaa asioita, joita yksittäiset henkilöt, yritykset tai edes valtiot eivät yksin toimien pysty saavuttamaan. Maapallon ympäristön saastuminen ja ilmaston lämpeneminen on yhteiskuntamme vakavin haaste, jonka torjumiseksi on työskenneltävä päättäväisesti yhdessä.</p>

<h4>Suomen kilpailukyky riippuu osaamisestamme</h4>

<p>Opiskelijoiden toimeentuloa tulisi ensisijaisesti tukea tulevaisuudessa korottamalla opintorahaa ja kannustamalla opiskelijoita entistä enemmän työntekoon opintojen ohella nostamalla tulorajaa, jonka verran opiskelija voi ansaita menettämättä opintorahaansa. Korkeakouluopetuksen tulee olla vastaisuudessakin maksutonta, erityisesti suomalaisille ja muista EU-maista tuleville opiskelijoille. <sup><a href="tutkimus.html#21">21, 22</a></sup></p>

<p>Suomessa ei ole riittävästi luonnonvaroja tai rikkauksia joihin talous voisi perustua, vaan Suomen kilpailukyky perustuu osaamiseen ja sitä kautta korkeaan jalostusasteeseen ja palveluihin. Opetus ja koulutus on Suomen tärkein infrastruktuuri, ja siihen investoiminen on valtion tärkeimpiä tehtäviä. Mikään yksittäinen taho ei voi kantaa vastuuta ajallisesti niin pitkästä sijoituksesta, jonka tuotto mitataan kansakunnan sivistyksen tasona.</p>

<h4>Veronkanto kantokyvyn mukaan</h4>

<p>Veronkevennykset tulee suunnata siten, että ne kasvattavat ostovoimaa ja siten edistävät talouskasvua. Esimerkiksi ruoan alennettu arvonlisävero tulee säilyttää. Palkkaverotusta ei saa kiristää. Tavanomainen perintö tulee olla veroton. Eläkesäästämisen veroetuja ei tule laajentaa, vaan sijoituksia osakkeisiin ja rahastoihin tulee verottaa kuten tähänkin asti. <sup><a href="tutkimus.html#4">4, 5, 6</a></sup></p>

<p>Verotusta tulee hyödyntää kannustimena järkevään kuluttamiseen. Esimerkiksi väkevien juomien kulutusta ja alkoholin väärinkäyttö vähenee jos haittaveroa nostetaan. Sähkön ja polttoaineiden verotuksen kiristämistä tulee välttää ja pääpaino kulutuksen kasvun hillinnässä tulisi olla valistuksessa. <sup><a href="tutkimus.html#7">7, 9, 11</a></sup></p>


<h3>Puolueohjelman laatija</h3>

<p>Tämän puolueohjelman on laatinut Suomen kansa, jonka kanta on selvitetty <a href="tutkimus.html">Suomen historian suurimmalla kyselytutkimuksella</a>. Vastaajia oli 384 693 kappaletta.</p>

{% endblock %}
