{% extends "base.html" %}

{% block title %}Tutkimus{% endblock %}

{% block contents %}

<h2>Kyselytutkimuksen tulokset (2007)</h2>

{% for kysymys in kysymykset %}	
<a name="{{ kysymys.nro }}"><h3>{{ kysymys.nro }}. {{ kysymys.kysymys }} <small>(n={{ kysymys.vastauksia }})</small></h3></a>
<table>
<tr>
	{% for vastaus in kysymys.vastausvaihtoehdot %}	
	<td class="graphics"><div class="circle" style="width:{{ vastaus.3|add:'2' }}px; height:{{ vastaus.3|add:'2' }}px;"></div></td>
	{% endfor %}
</tr>
<tr>
	{% for vastaus in kysymys.vastausvaihtoehdot %}	
	<td>{{ vastaus.0 }}. {{ vastaus.1 }}<br/>
	<small>{{ vastaus.3 }} % ({{ vastaus.2 }})</small><br/>
	</td>
	{% endfor %}
</tr>
<tr>
	<td colspan="5">
		<small class="left">Painoarvo: iso {{ kysymys.painoarvo.iso.1 }} % / normaali {{ kysymys.painoarvo.normaali.1 }} % / pieni {{ kysymys.painoarvo.pieni.1 }} %</small>
		<div class="bar iso" style="width:{{ kysymys.painoarvo.iso.1 }}px"></div>
		<div class="bar normaali" style="width:{{ kysymys.painoarvo.normaali.1 }}px"></div>
		<div class="bar pieni" style="width:{{ kysymys.painoarvo.pieni.1 }}px"></div>
	</td>
</tr>
</table>
{% endfor %}

<h2>Lähde ja taustatietoa</h2>

<p>Tämä sivusto on saanut alkunsa <a href="http://blogit.hs.fi/hsnext/tama-on-kutsu-hs-open-14-3-sanomatalossa">HS Open -tapahtumassa</a> ja se pohjautuu Helsingin Sanomien <a href="http://blogit.hs.fi/hsnext/vaalikonedata-avoimeksi-kristilliset-eniten-avioliitossa">vuoden 2007 vaalikoneen dataan</a>, joka on julkaistu avoimesti CC-BY-NC -lisenssillä. Olemme jatkojalostaneet <a href="http://www.populistipuolue.fi/2007_vaalikone.sql">datan</a> ja julkaisseet sen <a href="https://github.com/ottokek/Populistipuolue">lähdekoodeineen</a> kaikkien saataville ja edelleen jatkokehitettäväksi.</p>

<p>Puolueohjelma on laadittu sen mukaan, mitä kysymyksiä Sanoman vaalikoneen vastaajat ovat merkinneet tärkeimmiksi ja joissa on ollut selkein enemmistömielipide. Toistaiseksi Sanoma ei ole julkaissut vuoden 2011 vaalikoneen tuloksia kokonaisuudessaan, joten kansan mielipide on vuodelta 2007.</p>

<p>Toivomme, että sivusto herättää ajatuksia ja keskustelua tiedon merkityksestä tietoyhteiskunnassa ja avoimen tiedon (ja tietotekniikan) merkityksestä avoimen tietoyhteiskunnan kehittymisessä. Sivusto on samalla pieni testi uusimpien HTML5-tekniikoiden käytöstä.</p>

<p>Projekti ei ole vielä valmis ja teemme lisää visualisointeja sitä mukaa kun saamme hyviä ideoita tai uutta avointa dataa.</p>

<p>Kiitokset Sanomalle avoimesta datasta!</p>

<h3>Tekijät</h3>

<p>Otto Kekäläinen ja Matti Lassila, <a href="http://seravo.fi/">Seravo Oy</a>.</p>

<p>Kiitokset myös HS Open -työryhmälle proton kehittelyyn osallistumisesta:  Mika Minkkinen, Tapio Nurminen, Jyri Tuulos ja Jan Wolski.</p>

{% endblock %}
